<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SugarCare"
        tools:targetApi="31">
        <activity
            android:name=".presentation.feature.searchproduct.SearchProductActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.report.yearly.YearlyChartRepActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.report.monthly.MonthlyChartRepActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.report.weekly.WeeklyChartRepActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.report.yearly.YearlyRepActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.report.monthly.MonthlyRepActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.report.weekly.WeeklyRepActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.sugargrade.ProductResultActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".presentation.feature.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.signin.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.SplashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>